@text:#22242A;
@bg:#F1F8FC;
@error:#EF4B5F;
@second:#F7B579;
@success:#51DC8E;
@primary:#6478D3;
@white:#fff;
@c1:#f7f8fa;
@c2:#f1f3f8;
@c3:#cdcdd7;
@c4:#8D92A3;
.sw(){
    box-shadow: 0 10px 40px 0 rgba(0,0,0,0.05);
}
.line(){
    border: 1px solid @c3;
}
.f(){
	display: flex;
	align-items:center;
}
.f-c(){
    display: flex;
    align-items:center;
    justify-content:center;
}
.f-c-sb(){
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.bline(){
	position:relative;
	&:before{
		content: '';
		height:1px;
		display: block;
		position: absolute;
		left:0;
		right:0;
		bottom:0;
		background:@c2;
		transform-origin: 0 0;
		transform: scaleY(0.5);
		-webkit-transform: scaleY(0.5);

	}
}

.rline(){
	position:relative;
	&:after{
		content: '';
		width:1px;
		display: block;
		position: absolute;
		right:0;
		top:0;
		bottom:0;
		background:@c2;
		transform-origin: 0 0;
		transform: scaleX(0.5);
		-webkit-transform: scaleX(0.5);
	}
}
/*Panel*/
.panel{
	background:rgba(0,0,0,.5);
	position: fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	&-content{
		background:@white;
		margin:20% 30%;
	}
	.close{
		font-size:40px;
	}
}

/* 动画 */
.sliderIn{
	animation: sliderIn .5s both;
}
.sliderOut{
	animation: sliderOut .5s both;
}
@keyframes sliderIn{
	0%{
		transform: translateY(100%);
	}
	100%{
		transform: translateY(0);
	}
}

@keyframes sliderOut{
	0%{
		transform: translateY(0);
	}
	100%{
		transform: translateY(100%);
		opacity: 0;
	}
}
@keyframes loading {
    0% {
        transform: scale(1.4);
        opacity: .9;
    }

    50% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1.4);
        opacity: .9;
    }
}
