@import "../../css/common.less";

.change-store {


	&-search {
		.f-c-sb();
		margin: 40px;
		&-left {
			width: 560px;
			padding: 0 40px;
			height: 92px;
			display: flex;
			align-items: center;
			background: @white;
			border-radius: 40px;

			input {
				font-size: 28px;
				line-height: 92px;
				margin-left: 10px;
				flex: 1;
			}
		}

		&-right {
			font-size: 30px;
			color: @primary;
			line-height: 40px;
			padding: 10px;
		}
	}

	&-list {
		img {
			width: 64px;
			height: 64px;
			border-radius: 44px;
			margin-right: 20px;
		}

		.store-name {
			font-size: 26px;
			line-height: 34px;
			font-weight: bold;
			width: 350px;
			.one-line();
		}

		.store-address {
			font-size: 22px;
			line-height: 34px;
			color: @c4;
			width: 350px;
			margin-top: 8px;
			.one-line();
		}

		.store-distance{
			font-size: 48px;
			width: 124px;
		}
	}
}
